img{
    
    height:200px;
    background: lightblue;
    background: radial-gradient(white 30%, lightblue 70%);
    

}

.color-primary{
    color: #003859
}
.color-primary-bg{
    background: #003859
}
.color-second{
    color: #00A5C4
}
.color-second-bg{
    background: #00A5C4
}
.color-yellow{
    color: #FFD298
}
.color-yellow-bg{
    background: #FFD298
}
#cart-count{
    text-align: right;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}